.NewsCard {
  /* width: min(85%, 250px); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  text-decoration: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 14px;
  margin: 10px;
}

.Image {
  object-fit: cover;
  width: 5rem;
  height: 5rem;
  margin-right: 10px;
}

.NewsCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.NewsCard h4 {
  font-family: "DM Serif Display", serif;
  margin: 6px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: black;
}
